.container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 100px;
}

.container .text {
  max-width: 40vw;
  padding: 0 0 0 4vw;
}

.container .text a {
  color: #18C1E8;
  font-weight: bold;
}

.container .text .title {
  font-size: 2vw;
  font-weight: bold;
  line-height: 1.7;
  margin-bottom: 20px;
  max-width: 40vw;
}

.container .image {
  width: 25vw;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
    flex-direction: column;
    padding: 25px 25px 100px 25px;
  }

  .container .image {
    width: 80%;
  }

  .container .text {
    max-width: 100%;
    padding: 20px 0 0;
  }

  .container .text .title {
    font-size: 5vw;
    max-width: 100%;
  }
}