.footer {
  background-color: #18C1E8;
  bottom: 0;
  color: white;
  height: 20px;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:focus,
.footer a:hover {
  text-decoration: underline;
}